
header {
  margin: 0 auto;
}
.wrapper {
  width: 100%;
  margin: 0 auto;
}
body {
  background-color: rgb(242, 242, 237);
  font-family: "Oswald", sans-serif;
  max-width: 1600px;
}
nav ul {
  list-style-type: none;
  padding: 0;
}
nav a,
nav img {
  text-decoration: none;
  text-align: center;
  color: black;
  display: block;
  padding: 10px;
}
img {
  width: 100px;
}
nav a:hover {
  background-color: pink;
}
@media screen and (min-width: 0px) {
  body {
    max-width: 90%;
    text-align: center;
    margin: 0px auto;
  }
  header{
    display: flex;
    justify-content: center;
  }
  header h1 {
    font-size: 10rem;
  }
  header img{
    width: 20%;
    height: auto;
    padding-right: 5%;
  }
  .product h1{
    font-size: 2rem;
  }
  h2 {
    font-size: 3rem;
  }
  nav ul {
    display: flex;
  }
  nav li,
  nav img {
    flex: 1 1 0;
    height: 100%;
    border: 1px solid black;
  }
  .listings {
    background-color: rgb(224, 224, 215);
    width: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    flex: 1 1 1;
    background-color: white;
    padding-bottom: 1%;
  }
  .product img{
    margin: 0px auto;;
    width: 80%;
  }
  .product_details {
    background-color: rgb(242, 242, 237);
  }
  .text {
    width: 70%;
    margin: 0 auto;
  }
  p, li {
    font-size: 2rem;
  }
  #sale, #policies, #about {
    width: 100%;
    background-color: rgb(242, 242, 237);
    border: 2px solid black;
  }
  .icons li{
    list-style: none;
    border-radius: 25%;
    border:1px solid black;
    padding: 20px 20px;
    margin: 5% 5%;
    transition: .5s;
    display: inline-block;
    font-size: 20px
  }
  li {
    color: black;
  }
  li:hover {
    color: #292929;
    border: 1px solid #292929;
    transition: .5s;

  }
}
